/*
Homepage styling ONLY
*/
#logo {
    font-family: 'Quicksand', cursive;
    font-size: 30px;
    font-weight: 800;
}

.group-name {
    background-color: #eee;
}

.group-name:hover,
.group-name:focus {
    color: #fff;
    background-color: #2DB18E;
}

.group-name h4 {
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
    padding: 5px;
}

.topButtons {
    display: block;
    margin: 20px 0;
}

.center {
    text-align: center;
}

#newGroup {
    display: none;
    background-color: #eee;
    padding: 15px;
    border: 5px dotted #ddd;
    margin-bottom: 20px;
}

.width-50 {
    width: 50%;
    margin: 2px 4px 0 0;
}

.inline {
    display: inline;
}

.remove_field {
    vertical-align: middle;
}

.navbar-default {
    padding-top: 20px;
}

.panel.panel-default.group-name{
    cursor: pointer; 
    cursor: hand; 
}

#addNewVideo,
input[type="file"],
#fileUpload, 
#folderSelection, 
#filterByFolder, 
#newFolder, 
.resetRow {
    display: none;
}

.customFileUpload {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    margin: 20px 10px 20px 0;
    cursor: pointer;

    /* hidden for now until we debug */
    /*display: none;*/
}
