/* COLOR SCHEME */
/* Aquamarine: #02C8A7
    Golden: #F9BE02
    Bright coral: #F53240
    Sky: #7CDBD5
*/


/* SEARCH BAR */
input.search-query {
    padding-left: 26px;
    font-size: 12px;
}

form.form-search {
    position: relative;
    margin: 0; 
}

form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}

.navbar-default {
    padding-top: 20px;
    background-color: #7CDBD5; /*sky*/
}

.navbar {
    margin-bottom: 0;
}

hr { 
    margin-top: 0;
}


/* SECONDARY NAVBAR */
.tasks {
    padding-bottom: 0;
    border-bottom: 0;
}

.tasks li>a:focus, .tasks li>a:hover, .tasks li>a:active {
    background-color: transparent;
    border-bottom: 2px solid #23527c;
    outline: none;
}

/* ADD AND FILTER BUTTONS */
.topButtons button {
    font-size: 11px;
}


/* CAROUSEL CUSTOMIZATION */
.carousel-inner {
    /*border: 1px solid gray;*/
    width: 75%;
    margin: auto;
    min-height: 600px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 90%;
  margin: auto;
}

/* ATTENDANCE */
#snackbar {
    visibility: hidden;
    min-width: 100%;
    background-color: #009900;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    z-index: 1;
    font-size: 15px;
}

/* ANNOUNCEMENTS */
#panel-title {
    border: 0;
}

#newAnnouncement {
    padding: 15px;
    display: none;
}

#announcementInp {
    margin-bottom: 10px;
}

/* video */
#doneUpload {
    visibility: hidden;
    min-width: 100%;
    background-color: #009900;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    z-index: 1;
    font-size: 15px;
}





