/*
This CSS is for ALL pages thus far, and should be loaded first.
*/

/* COLOR SCHEME */
/* Aquamarine: #02C8A7
    Golden: #F9BE02
    Bright coral: #F53240
    Sky: #7CDBD5
*/



/* FONT */
body {
    font-family: 'Lato';
}



/* SEARCH BAR */
input.search-query {
    padding-left: 26px;
    font-size: 12px;
}

form.form-search {
    position: relative;
    margin: 0; 
}

form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}

.navbar-default {
    padding-top: 20px;
    background-color: #7CDBD5; /*sky*/
}

.navbar {
    margin-bottom: 0;
}

hr { 
    margin-top: 0;
}




